<!DOCTYPE html>
<html ng-app='musicTonight'>
  <head>
    <meta charset="utf-8" />
    <title>Music Tonight</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>

    <div class = titleBar>
      <h1 class = title >Music Tonight</h1>
    </div>
      
    <div class='nav'>
       <!-- <ul>
         <button class="login">Login</button>
         <button class ="logout">Logout</button>
       </ul>
        -->
   </div>

    <div ng-controller='listEventsCtrl'>

     <!--  <input class="zipcode" ng-model = 'zipcode' placeholder ='Where do you want to have fun? Enter a zipcode' ng-submit='displayConcerts'>
      {{zipcode}} -->
      <form  ng-submit="displayConcerts()">
        <input class="zipcode" type="text" ng-model="zipcode" name="zipcode" placeholder='Where do you want to have fun? Enter a zipcode' />
        <input class="submit" type="submit" id="submit" value="Submit" />
      </form>
      
      <div ng-repeat='concert in events.events'ng-Model="concert.datetime_local">
        <div class = 'listing'>
          <div class='artist'>{{concert.title}}</div>
          <div class='venue' href="concert.venue.">{{concert.venue.name}} - {{concert.venue.city}}</div>
          <div type ="datetime-local">{{concert.datetime_local| date : 'MMM d, h:mm'}} <br>test </div> 
          
          <button class="leftButton" ng-click ="buyTickets(concert.url)" target="_blank">Buy Tickets</button>
          <button class ="leftButton">Add to Calender</button>

        </div>

      </div>


      </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="listEvents.js"></script>
    <script src="sevices.js"></script>

    <script src="app.js"></script>
  </body>
</html>
