html, body {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;

}
body{
 background-color: #b7babd;
 background-image: url("concert.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
}
h1 {
  text-align: center;
}
.nav {
  display: inline;
  width: 15%;
  height: 10%;
  background:#96a9af;;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: .9em;
}
.submit {
  display: inline;
  margin-left: 4%;
  height: 10%;
}

.titleBar {
  
  display: block;
  font-size: 2em; 
  height: 20%;
  padding-top: 1%; 
  padding-bottom: 0;
  margin-top: 0;
  color: #000000;
  font-family: "Open Sans Condensed",sans-serif;
}

.listing {
  font-family: "Open Sans Condensed",sans-serif;
  padding: 10% 3%;
  margin: 2% 0;
  width: 85%;
  background-color: #c5e8e4;
  opacity: 0.9;
  color: #FFFFFF;
  position: center;
  border-radius: 25px;
  margin-left: 4%;
}

.listing:hover {
  background-color: #F59B7F; 
}

 .venue {
  display: inline;
  color: #FFFFFF;
  font-size: 2em;

}

.date{
  color: #FFFFFF;
  padding-left: 3%;
  font-size: 1.7em;
}

.artist {
  color: #25313C;
  font-size: 2em;
}

.zipcode {
  
  display: block;
  border:1px solid #97B5D2;
  color:#25313C;
  margin-left: 4%;
  width:88%;
  font: 2em 'Lucida Grande',Helvetica,Arial,sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  outline:0 none;
  padding:7px;
  border-radius: 5px;
}


.leftButton {
  
  float: right;
  margin-bottom: 3px;
  margin-right: 55%;
  height: 12%;
  width: 10%;
  background-color: #96a9af;
  color: #FFFFFF; 
  border-radius: 5px;
  font-size: .9em;
}
.spinner img {
    padding-top: 10px;
    padding-right: 5px;
}


