body{
 background-color: #b7babd;
}
h1 {
  text-align: center;
}
.nav {
  display: inline;
}
.titleBar {
  background-color: #c5e8e4;
  display: block;
  height: 20%;
  padding-top: 1%; 
  padding-bottom: 1%;
  margin-top: 0;
  color: #000000;
  font-family: "Open Sans Condensed",sans-serif;
}

.listing {
  font-family: "Open Sans Condensed",sans-serif;
  padding: 10% 3%;
  margin: 2% 0;
  background-color: #c5e8e4;
  color: #FFFFFF;
}

.listing:hover {
  background-color: #F59B7F; 
}

 .venue {
  display: inline;
  color: #FFFFFF;

}

.date{
  color: #FFFFFF;
  padding-left: 3%;
}

.artist {
  color: #25313C;
  font-size: 2em;
}

.zipcode {
  
  border:1px solid #97B5D2;
  color:#25313C;
  
  width:98%;
  font: 2em 'Lucida Grande',Helvetica,Arial,sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  outline:0 none;
  padding:7px;
}


.leftButton {
  
  float: right;
  margin-bottom: 3px;
  margin-right: 55%;
  height: 8%;
  width: 10%
  %;
  background-color: #96a9af;
  color: #FFFFFF; 
}
.spinner img {
    padding-top: 10px;
    padding-right: 5px;
}


